/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ===================
   Min purple theme
   =================== */

.header-container {
    border-bottom: 20px solid #5A0DA8;
}

.header-container,
header{
    position: relative;
}

.footer-container,
.main aside {
    border-top: 20px solid #5A0DA8;
}
.wrapper {
    width: 90%;
    margin: 0 5%;
}

.title {
    color: white;
}

.header-container,
.footer-container,
.main aside {
    background: #A627BF;
}

/* ===================
    MOVING PAGE : Purple Theme
   =================== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    border: 1px transparent;
    border-radius:15px;

    color: white;
    background: #0408FF;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
    background: #03157A;
}

.main {
    padding: 30px 0;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
    height: 100%;
}

.choosed{
    background: #03157A;
}

/* ==========================================================================
   Media Queries for Responsive Design.
   Modify as content requires.
   ========================================================================== */

/* ====================
MIN SIZE
==================== */
@media only screen and (min-width: 10em) {
    .header-container {
        border-bottom: 20px solid #0408FF;
    }

    .footer-container,
    .main aside {
        border-top: 20px solid #0408FF;
    }

    .header-container,
    .footer-container,
    .main aside {
        background: #2676E3;
    }

    /*
        IE stuff
    */
    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }

}

/* ====================
WIDE SIZE
==================== */
@media only screen and (min-width: 35em) {
    .header-container {
        border-bottom: 20px solid #2F0B91;
    }

    .footer-container,
    .main aside {
        border-top: 20px solid #2F0B91;
    }

     .choosed{
        background: #300E40;
    }

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }

    nav a:hover {
        background: #300E40;
    }

    nav a {
        background: #2F0B91;
    }

    nav {
        margin-top: 0;
    }

    .header-container,
    .footer-container,
    .main aside {
        background: #2676E3;
    }
}

/* ====================
MAX SIZE
==================== */
@media only screen and (min-width: 50em) {

    .header-container {
        border-bottom: 20px solid #5A0DA8;
    }

    .footer-container,
    .main aside {
        border-top: 20px solid #5A0DA8;
    }

    nav a:hover {
        background: #300E40;
    }

    nav a {
        background: #5A0DA8;
    }

     .choosed{
        background: #300E40;
    }


    .title {
        float: left;
    }

    nav {
        margin-top: 1.5em;
        float: right;
        width: 38%;
    }
    

    .header-container,
    .footer-container,
    .main aside {
        background: #A627BF;
    }

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

    .wrapper {
        width: 80%;
        margin: 0 10%;
    }

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }

    .projects-container 
    article {
        width: 100%; 
    }

    .project{
        margin: 15px 0px;
    }

    .project
    aside{
        margin-top: 30px;
        border: 1px solid #03497A;
        border-radius: 2px;
        height: 300px;
    }

    .article-left
    article{
        float: left;
        width: 49%;
    }

    .article-left
    aside{
        float: right;
        width: 50%;
    }

    .article-left
    aside{
        -webkit-box-shadow: 10px 10px 10px #AD5;
           -moz-box-shadow: 10px 10px 10px #AD5;
                box-shadow: 10px 10px 10px #AD5;
    }

    .article-right
    article{
        float: right;
        text-align: right;
        width: 49%;
    }

    .article-right
    aside{
        float: left;
        width: 50%;
    }   

    .article-right
    aside{
        -webkit-box-shadow: -10px 10px 10px #AD5;
           -moz-box-shadow: -10px 10px 10px #AD5;
                box-shadow: -10px 10px 10px #AD5;
    }

    .cv-container{
        margin: 20px 20px;
    }
}

/* ====================
GIGA SIZE
==================== */
@media only screen and (min-width: 70em) {

    .wrapper {
        width: 876px; /*10% for magins !*/
        margin: 0 auto;
    }

    .cv-container{
        padding: 60px 40px;
    }

    .home-container{
        padding: 225px 0px;
    }
}